/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
  color: var(--decor-color);
}

.page.theme_dark .decorate__rec {
  visibility: visible;
}

.page.theme_dark {
  --bg-color:#000028;
  --title-color: #DB00FF;
  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --decor-color: var(--accent-color);
  --decor-text:var(--bg-color);
  --background-title:url(../images/cover-image-dark.png);
}


